input:invalid {
 
border: 1px solid red;
 
}
 
/* Estilo por defecto */
 
input:valid {
 
border: 1px solid green;
 
}

/* === Remove input autofocus webkit === */
 *:focus {
  		outline: none;
   } 

   /* === Form Typography === */
   

   .contact_form h2, .contact_form label {
   		 font-family: Georgia, Times, "Times New Roman", serif;
   		  }

    .form_hint, .required_notification { 
    	font-size: 11px; 
    	}

     /* === List Styles === */ 
     .contact_form ul {
      width: 100%; 
      list-style-type: none;
       list-style-position: outside; 
       margin: 0px;
        padding: 0px;
       } 

       .contact_form li { 
       	padding: 12px; 
      
       	 position: relative;

       	  }

       

      /* === Form Header === */ 
      .contact_form h2 { 
      	margin: 0; 
      	display: inline;
      	 } 

      	 .required_notification {
      	 	color: #d45252;
      	 	 margin: 5px 0 0 0; 
      	 	 
      	 	  float: right; 
      	 }

      /* === Form Elements === */ 
      .contact_form label {
       width: 150px; 
       margin-top: 3px;
        display: inline-block;
         float: left;
          padding: 3px;
          
        }

         .contact_form input {
          height: 35px;
           width: 220px;
            padding: 5px 8px;
            }

        .contact_form textarea { 
        	padding: 8px; 
        	width: 300px;
       }

        .contact_form button { 
        	margin-left: 156px; 
        	} 


      /* form element visual styles */ 
      .contact_form input, .contact_form textarea { 
     	     border: 1px solid #aaa;
      		 box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
      		 border-radius: 2px;
      		 padding-right: 30px;
      	     -moz-transition: padding .25s;
      	     -webkit-transition: padding .25s;
      	     -o-transition: padding .25s;
      	     transition: padding .25s; 
      	  }

       .contact_form input:focus, .contact_form textarea:focus {
          background: #fff;
          border: 1px solid #555;
          box-shadow: 0 0 3px #aaa; 
          padding-right: 70px;
        }


        /* === HTML5 validation styles === */


        /* === Form hints === */
        .form_hint { 
        	background: #d45252;
        	border-radius: 3px 3px 3px 3px;
        	color: white;
        	margin-left: 8px;
        	padding: 1px 6px;
        	z-index: 999; /* hints stay above all other elements */ 
        	position: absolute; /* allows proper formatting if hint is two lines */ 
        	display: none; 
       } 

       .form_hint::before {
      	  content: "\25C0"; 
      	  color: #d45252; 
      	  position: absolute;
       	  top: 1px; 
      	  left: -6px;
         } 

          .contact_form input:focus + .form_hint {
          	 display: inline;
            } 

         .contact_form input:required:valid + .form_hint { 
         		background: #28921f;
         	 } 

         .contact_form input:required:valid + .form_hint::before { 
         	color: #28921f;

          }
			
			

          
